/* Configuración General */
.root {
    -fx-font-family: "Bookerly", serif;
    -fx-background-color: #f4f4f4;
    -fx-padding: 25;
}

/* Estilo para los Títulos */
.label {
    -fx-text-fill: #333333;
    -fx-font-size: 14px;
}

/* Estilo para el Título Principal */
.header-label {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #b71c1c;
}

/* Botón Rojo */
.button {
    -fx-background-color: #d32f2f; /* Rojo */
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 10 20;
    -fx-background-radius: 5;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #b71c1c; /* Rojo más oscuro al pasar el mouse */
}

/* Color destacado para el pago total */
#lblPagoTotal {
    -fx-text-fill: #d32f2f;
    -fx-font-size: 16px;
}